#pp-img {
  height: 95px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  border-radius: 37px;
}

@media screen and (max-width: 768px) {
  #pp-img {
    height: 90px;
  }
}

#pp-img:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

.home {
  background-image: url("../src/assets/imgs/back7.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url("../src/assets/imgs/mediaQueryBack/nl5.jpg");
  }
}

/* css for cards */

.card {
  display: grid;
  align-items: center;
  height: 90px;
  max-width: 410px;
  border-radius: 10px;
  transition: 0.4s ease-out;
  font-size: 110%;
  text-align: center;
  background: linear-gradient(90deg, #d3c9bf 70%, rgba(221, 232, 11, 0) 95%);
  margin-top: 1.5rem;
  opacity: 0.9;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .card {
    margin-top: 2rem;
    padding: 1.25rem;
    background: linear-gradient(120deg, #aeaba8 75%, rgba(221, 232, 11, 0) 85%);
  }
}

.player-controls {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .player-controls {
    text-align: center;
  }
}

.card:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

.title {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/* css of footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  position: fixed;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  text-align: center;
}


.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .social-icon {
    top: 1rem;
  }
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 15px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* css for rs logos */
.sm-logo {
  height: 40px;
  border-radius: 10px;
}

.sm-logo2 {
  height: 42px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .sm-logo2 {
    height: 42px;
    border-radius: 10px;
  } 
}

.offLogo {
  height: 150px;
}

@media screen and (max-width: 768px) {
  .offLogo {
    left: 0;
    width: 150px;
  }
  .footer-text {
    font-size: 17px !important;
  }
}

.offLogo2 {
  height: 150px;
  padding: 2rem;
  border-radius: 45%;
}

@media screen and (max-width: 768px) {
  .offLogo2 {
    right: 0;
    height: 150px;
    width: 147px;
    border-radius: 45%;
  }
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
}
